*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(-90deg,rgb(2, 136, 2,0.1),rgba(0, 212, 28, 0.5));
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;

   
}
.card{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(135deg,lime,rgb(0, 111, 17));
    color: #fff;
    margin: 100px auto ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
   
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search input{
    border: 0;
    outline: 0;
    background-color: white;
    color:black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background-color: rgb(0, 84, 95);
    border-radius: 50%;
    width: 60px ;
    height: 60px;
    cursor: pointer;
}
.search button img{
    border-radius: 5px;
}
#weathericon{
    margin: 30px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10;
}
.detial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
 align-items: center; 
 text-align:left;   
  justify-content: space-between;
 align-items: center;
 padding: 12px 9px;
}
.col img{
    width: 40px;

}
.humidity .wind{
    font-size: 80px;
    font-style: oblique;

}.weather{
    display: none;
}
.error{
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}